@import "tailwindcss";

:root {
  --ms-bg: #080810;
  --ms-bg-card: #0e0e1a;
  --ms-bg-nav: #080810;
  --ms-border: #1e1e30;
  --ms-border-nav: #1a1a28;
  --ms-accent: #534ab7;
  --ms-accent-light: #7f77dd;
  --ms-accent-dim: #1a1830;
  --ms-text-primary: #afa9ec;
  --ms-text-secondary: #5f5e5a;
  --ms-text-muted: #3c3489;
  --ms-green: #1d9e75;
  --ms-green-border: #0f6e56;
  --ms-red: #993c1d;
  --ms-red-border: #712b13;
}

body {
  background: var(--ms-bg);
  color: var(--ms-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}